<!DOCTYPE html>
<!--
 Copyright (c) 2014, 2020, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->

<!-- ************************ IMPORTANT INFORMATION ************************************
  This web basic template is provided as an example of how to configure
  a JET web application.  It contains the Oracle JET framework and a default
  requireJS configuration file to show how JET can be setup in a common application.
  This project template can be used in conjunction with demo code from the JET
  website to test JET component behavior and interactions.

  Any CSS styling with the prefix "demo-" is for demonstration only and is not
  provided as part of the JET framework.

  Please see the demos under Cookbook/Patterns/App Shell: Web and the CSS documentation
  under Support/API Docs/Non-Component Styling on the JET website for more information on how to use 
  the best practice patterns shown in this template.

  Aria Landmark role attributes are added to the different sections of the application
  for accessibility compliance. If you change the type of content for a specific
  section from what is defined, you should also change the role value for that
  section to represent the appropriate content type.
  ***************************** IMPORTANT INFORMATION ************************************ -->
<html  >
  <head>
    <title>Oracle JET Starter Template - Web Basic</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1">
    <link rel="icon" href="css/images/favicon.ico" type="image/x-icon" />

    <!-- This is the main css file for the default Alta theme -->
    <!-- injector:theme -->
    <link rel="stylesheet" href="css/libs/oj/v8.1.0/alta/oj-alta-min.css" type="text/css"/>
    <!-- endinjector -->
    <!-- This contains icon fonts used by the starter template -->
    <link rel="stylesheet" href="css/demo-alta-site-min.css" type="text/css"/>

    <!-- This is where you would add any app specific styling -->
    <link rel="stylesheet" href="css/app.css" type="text/css"/>

  </head>
  <body class="oj-web-applayout-body">
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-firestore.js"></script>

    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-analytics.js"></script>
    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-auth.js"></script>
    

    <!-- Initialize Firebase 
    <script src="https://www.gstatic.com/firebasejs/7.14.2/firebase-init.js"></script>
     <script src="/__/firebase/init.js"></script>
     -->
    <div id="globalBody" class="oj-web-applayout-page">
      <!--
         ** Oracle JET V8.1.0 web application header pattern.
         ** Please see the demos under Cookbook/Patterns/App Shell: Web
         ** and the CSS documentation under Support/API Docs/Non-Component Styling
         ** on the JET website for more information on how to use this pattern.
      -->
      <header role="banner" class="oj-web-applayout-header">
        <div class="oj-web-applayout-max-width oj-flex-bar oj-sm-align-items-center">
          <div class="oj-flex-bar-middle oj-sm-align-items-baseline">
            <img src="css/images/itp_logo.png" title="It-P Logo" alt="It-P Logo" style="width:150px;height:85px;">
            <h2  style="padding: 10px; margin: 10px;" title="Application Name">
              <oj-bind-text value="[[appName]]"></oj-bind-text></h2>
          </div>
          <div class="oj-flex-bar-end">
          </div>
        </div>
      </header>
      <div role="main" class="oj-web-applayout-max-width oj-web-applayout-content">
        <img class="background" src="css/images/baum.png" alt="Baum">
        <oj-validation-group id="tracker" valid="{{groupValid}}"></oj-validation-group>
        <oj-label-value>
          <br> <br>
            <oj-label style="font-weight: bold" for="myit">Manager</oj-label>
            <oj-label style="font-weight: bold" for="text-user">Email:</oj-label>
            <oj-input-text id="myit"  value="{{emailManager}}" autocomplete="off" required label-hint="'required' html attribute" ></oj-input-text>
            <oj-label for="text-user" style="font-weight: bold">Name:</oj-label>
            <oj-input-text id="myit"  value="{{nameManager}}" autocomplete="off" required label-hint="'required' html attribute"></oj-input-text>
            <oj-label for="text-user" style="font-weight: bold" >Funktion:</oj-label>
            <oj-input-text id="myit"  value="{{funktionManager}}" autocomplete="off" required label-hint="'required' html attribute"></oj-input-text>
          </oj-label-value>
        <br> <br>
      
        <oj-label-value>
          <oj-label slot="label" style="font-weight: bold" for="myit">Teammitglied</oj-label>
            <oj-label for="text-user" style="font-weight: bold" >Email:</oj-label>
            <oj-input-text id="myit"  value="{{emailMitglied}}" autocomplete="off" required label-hint="'required' html attribute"></oj-input-text>
            <oj-label for="text-user" style="font-weight: bold" >Name:</oj-label>
            <oj-input-text id="myit" value="{{nameMitglied}}" autocomplete="off" required label-hint="'required' html attribute"></oj-input-text>
            <oj-label for="text-user"style="font-weight: bold" >Funktion:</oj-label>
            <oj-input-text id="myit"  value="{{funktionMitglied}}" autocomplete="off" required label-hint="'required' html attribute"></oj-input-text>
        </oj-label-value>
        <br> <br>

         
        <oj-checkboxset id="checkboxSetOneDisabledId" >
          <oj-option style="font-weight: 500" id="blueopt" value="blue">angegebene eMail-Adresse gespeichert werden darf</oj-option><br><br>
          <oj-option  style="font-weight: 500" id="redopt" value="red">Bestätigen der Datenschutzhinweis</oj-option><br>
        </oj-checkboxset> <br> 
      
       <oj-button id="submitBtn" on-oj-action="[[submit]]"> <span style="font-weight: 500">Board erstellen </span></oj-button>
       <p style="font-weight: 500"> <a href=#>Generated Link</a></p>
      </oj-validation-group>
      </div>
      
      <footer class="oj-web-applayout-footer" role="contentinfo">
        <div class="oj-web-applayout-footer-item oj-web-applayout-max-width">
          <ul>
            <oj-bind-for-each data="[[footerLinks]]">
              <template>
                <li><a :id="[[$current.data.linkId]]" :href="[[$current.data.linkTarget]]"><oj-bind-text value="[[$current.data.name]]"></oj-bind-text></a></li>
              </template>
            </oj-bind-for-each>
          </ul>
        </div>
        <div class="oj-web-applayout-footer-item oj-web-applayout-max-width oj-text-secondary-color oj-text-sm">
          Copyright C 2020 Mangement 3.0 by IT-P GmbH and/or its affiliates All rights reserved.
        </div>
      </footer>
    </div>
    
    <script type="text/javascript" src="js/libs/require/require.js"></script>
    <script type="text/javascript" src="js/main.js"></script>

  </body>

</html>