/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/


img.background {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter: blur(6px);
  }
  
  img.circle {
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 30%;
  }

  oj-label {
    font-weight: bold;
  }